@use "sass:map";
@use "sass:meta";

@use "throw";
@use "../../functions" as fn;
@use "../colors" as colors;

$typography-types: ("body", "heading", "label");

/* -------------------------------------- Font Families ----------------------------------------- */
$font-family-avenir: avenir;
$font-family-roboto: roboto;
$font-families: ($font-family-avenir, $font-family-roboto);

$heading-font-family: $font-family-avenir;
$body-font-family: $font-family-roboto;
$label-font-family: $font-family-avenir;

$typography-font-families: (
  "heading": $heading-font-family,
  "body": $body-font-family,
  "label": $label-font-family,
);

@function get-font-family($type) {
  $type: fn.validate-value($type, $typography-types);
  @return fn.mapget($typography-font-families, $type);
}

@mixin font-family($type) {
  font-family: get-font-family($type);
}

@mixin body-font-family() {
  @include font-family("body");
}

@mixin heading-font-family() {
  @include font-family("heading");
}

@mixin label-font-family() {
  @include font-family("label");
}

/* --------------------------------------- Font Weights ----------------------------------------- */
$font-weight-names: ("bold", "semibold", "medium", "regular", "light");
$font-family-weights: (
  avenir: (
    // Maps to Light Font File
    "light": 300,
    // Maps to Regular Font File
    "regular": 400,
    // Maps to Medium Font File
    "medium": 500,
    // Maps to SemiBold Font File
    "semibold": 600,
    // Maps to Bold Font File
    "bold": 700,
  ),
  roboto: (
    // Maps to Light Font File
    "light": 300,
    // Maps to Regular Font File
    "regular": 400,
    // Maps to Medium Font File
    "medium": 500,
    // Maps to Bold Font File
    "semibold": 600,
    // Maps to Bold Font File
    "bold": 700,
  ),
);

@function get-font-weight($type: null, $family: null, $size: null, $weight: null) {
  $type: if($type, fn.validate-value($type, $typography-types), null);
  $family: if($family, fn.validate-value($family, $font-families), null);
  $size: if($size, fn.validate-value($size, $typography-sizes), null);
  $weight: if($weight, fn.validate-value($weight, $font-weight-names), null);

  @if $type {
    // The font-family is constant per typography type.
    @if $family {
      @return throw.error(
        "When the type is provided the family is superfluous.",
        $family,
        $type,
        $source: "get-font-weight()"
      );
    } @else if $size {
      @if $weight {
        @return throw.error(
          "When the size is provided the weight is superfluous.",
          $weight,
          $size,
          $source: "get-font-weight()"
        );
      }
      @return fn.mapget($typography-size-properties, $type, $size, font-weight);
    } @else if $weight {
      @return get-font-weight($family: get-font-family($type), $weight: $weight);
    } @else {
      // Return the weight associated with the default size for that typography type.
      $default-size: fn.mapget($typography-default-sizes, $type);
      @return get-font-weight($type: $type, $size: $default-size);
    }
  } @else if $family {
    @if $size {
      @return throw.error(
        "When the family is provided the size is superfluous.",
        $size,
        $family,
        $source: "get-font-weight()"
      );
    } @else if $weight {
      @return fn.mapget($font-family-weights, $family, $weight);
    } @else {
      @return throw.error(
        "When the family is provided the weight must be provided.",
        $family,
        $source: "get-font-weight()"
      );
    }
  } @else {
    @return throw.error("Invalid arguments.", $source: "get-font-weight()");
  }
}

@mixin font-weight($args...) {
  font-weight: get-font-weight($args...);
}

@mixin body-font-weight($args...) {
  font-weight: get-font-weight($type: "body", $args...);
}

@mixin heading-font-weight($args...) {
  font-weight: get-font-weight($type: "heading", $args...);
}

@mixin label-font-weight($args...) {
  font-weight: get-font-weight($type: "label", $args...);
}

@mixin with-font-weights($type) {
  @each $weight in $font-weight-names {
    @content ($weight, get-font-weight($type: $type, $weight: $weight));
  }
}

/* --------------------------------------- Font Sizes ----------------------------------------- */
$typography-sizes: ("xxs", "xs", "sm", "md", "lg", "xl");

$typography-size-properties: (
  "body": (
    "xxs": (
      font-size: 11px,
      line-height: 14px,
      font-weight:
        get-font-weight(
          $type: "body",
          $weight: "regular",
        ),
    ),
    "xs": (
      font-size: 12px,
      line-height: 16px,
      font-weight:
        get-font-weight(
          $type: "body",
          $weight: "regular",
        ),
    ),
    "sm": (
      font-size: 13px,
      line-height: 18px,
      font-weight:
        get-font-weight(
          $type: "body",
          $weight: "regular",
        ),
    ),
    "md": (
      font-size: 14px,
      line-height: 20px,
      font-weight:
        get-font-weight(
          $type: "body",
          $weight: "regular",
        ),
    ),
    "lg": (
      font-size: 16px,
      line-height: 24px,
      font-weight:
        get-font-weight(
          $type: "body",
          $weight: "regular",
        ),
    ),
    "xl": (
      font-size: 18px,
      line-height: 28px,
      font-weight:
        get-font-weight(
          $type: "body",
          $weight: "regular",
        ),
    ),
  ),
  "heading": (
    "xxs": (
      font-size: 14px,
      line-height: 20px,
      font-weight:
        get-font-weight(
          $type: "heading",
          $weight: "medium",
        ),
    ),
    "xs": (
      font-size: 16px,
      line-height: 22px,
      font-weight:
        get-font-weight(
          $type: "heading",
          $weight: "medium",
        ),
    ),
    "sm": (
      font-size: 18px,
      line-height: 24px,
      font-weight:
        get-font-weight(
          $type: "heading",
          $weight: "semibold",
        ),
    ),
    "md": (
      font-size: 24px,
      line-height: 30px,
      font-weight:
        get-font-weight(
          $type: "heading",
          $weight: "semibold",
        ),
    ),
    "lg": (
      font-size: 28px,
      line-height: 34px,
      font-weight:
        get-font-weight(
          $type: "heading",
          $weight: "semibold",
        ),
    ),
    "xl": (
      font-size: 32px,
      line-height: 36px,
      font-weight:
        get-font-weight(
          $type: "heading",
          $weight: "semibold",
        ),
    ),
  ),
  "label": (
    "xxs": (
      font-size: 11px,
      line-height: 14px,
      font-weight:
        get-font-weight(
          $type: "label",
          $weight: "regular",
        ),
    ),
    "xs": (
      font-size: 12px,
      line-height: 16px,
      font-weight:
        get-font-weight(
          $type: "label",
          $weight: "regular",
        ),
    ),
    "sm": (
      font-size: 13px,
      line-height: 18px,
      font-weight:
        get-font-weight(
          $type: "label",
          $weight: "medium",
        ),
    ),
    "md": (
      font-size: 14px,
      line-height: 20px,
      font-weight:
        get-font-weight(
          $type: "label",
          $weight: "medium",
        ),
    ),
    "lg": (
      font-size: 16px,
      line-height: 24px,
      font-weight:
        get-font-weight(
          $type: "label",
          $weight: "semibold",
        ),
    ),
    "xl": (
      font-size: 18px,
      line-height: 28px,
      font-weight:
        get-font-weight(
          $type: "label",
          $weight: "semibold",
        ),
    ),
  ),
);

$heading-default-size: "md";
$body-default-size: "md";
$label-default-size: "md";

$typography-default-sizes: (
  "body": $body-default-size,
  "heading": $heading-default-size,
  "label": $label-default-size,
);

@function parse-size($type, $size: null) {
  $type: fn.validate-value($type, $typography-types);
  $default-size: fn.mapget($typography-default-sizes, $type);
  $size: if($size, $size, $default-size);
  $size: fn.validate-value($size, $typography-sizes);
  @return $size;
}

@function get-font-size($type, $size: null) {
  $type: fn.validate-value($type, $typography-types);
  @return fn.mapget($typography-size-properties, $type, parse-size($type, $size: $size), font-size);
}

@function get-line-height($type, $size: null) {
  $type: fn.validate-value($type, $typography-types);
  @return fn.mapget($typography-size-properties, $type, parse-size($type, $size: $size), line-height);
}

@mixin font-size($type, $size: null) {
  font-size: get-font-size($type, $size);
}

@mixin heading-font-size($size: null) {
  @include font-size("heading", $size);
}

@mixin body-font-size($size: null) {
  @include font-size("body", $size);
}

@mixin label-font-size($size: null) {
  @include font-size("label", $size);
}

@mixin line-height($type, $size: null) {
  line-height: get-line-height($type, $size);
}

@mixin heading-line-height($size: null) {
  @include line-height("heading", $size);
}

@mixin body-line-height($size: null) {
  @include line-height("body", $size);
}

@mixin label-line-height($size: null) {
  @include line-height("label", $size);
}

/* --------------------------------------- Font Colors ------------------------------------------ */
$default-label-color-shade: 7;
$default-heading-color-shade: 7;
$default-body-color-shade: 7;

$typography-default-color-shades: (
  "heading": $default-heading-color-shade,
  "body": $default-body-color-shade,
  "label": $default-label-color-shade,
);

$default-label-color-name: "body";
$default-body-color-name: "body";
$default-heading-color-name: "heading";

$typography-default-color-names: (
  "heading": $default-heading-color-name,
  "body": $default-body-color-name,
  "label": $default-label-color-name,
);

$default-label-color: colors.get-color($default-label-color-name, $default-label-color-shade);
$default-heading-color: colors.get-color($default-heading-color-name, $default-heading-color-shade);
$default-body-color: colors.get-color($default-body-color-name, $default-body-color-shade);

$typography-default-colors: (
  "heading": $default-heading-color,
  "body": $default-body-color,
  "label": $default-label-color,
);

@function get-font-color($type, $color: null, $shade: null) {
  $type: fn.validate-value($type, $typography-types);
  $color: if($color, $color, fn.mapget($typography-default-color-names, $type));
  $shade: if($shade, $shade, fn.mapget($typography-default-color-shades, $type));
  @return colors.get-color($color, $shade);
}

@mixin font-color($type, $color: null, $shade: null) {
  color: get-font-color($type, $color, $shade);
}

@mixin body-font-color($args...) {
  @include font-color("body", $args...);
}

@mixin heading-font-color($args...) {
  @include font-color("heading", $args...);
}

@mixin label-font-color($args...) {
  @include font-color("label", $args...);
}

/* --------------------------------------- Font Specs ------------------------------------------ */
@function get-font($type, $size: null, $args...) {
  $properties: (
    font-family: get-font-family($type),
    font-weight:
      fn.get-optional-kwarg(
        "weight",
        $default:
          get-font-weight(
            $type: $type,
            $size: $size,
          ),
        $args...
      ),
    color: fn.get-optional-kwarg(color, $default: get-font-color($type), $args...),
    line-height: fn.get-optional-kwarg(line-height, $default: get-line-height($type, $size: $size), $args...),
    font-size: fn.get-optional-kwarg(font-size, $default: get-font-size($type, $size: $size), $args...),
  );
  $overrides: map.get(meta.keywords($args), "override");
  @if $overrides {
    $properties: map.merge($properties, $overrides);
  }
  @return fn.pick-or-ignore($properties, $args...);
}

@mixin font($type, $args...) {
  $properties: get-font($type, $args...);
  // All of the relevant properties might not be present if some were ignored.
  @each $k in map.keys($properties) {
    @if map.get($properties, $k) {
      #{$k}: fn.mapget($properties, $k);
    } @else {
      @error "The property #{$k} is nullish!";
    }
  }
}

@mixin with-font-sizes($type) {
  @each $size in $typography-sizes {
    $properties: get-font($type, $size: $size);
    @content ($size, $properties);
  }
}

@mixin heading($args...) {
  @include font("heading", $args...);
}

@mixin body($args...) {
  @include font("body", $args...);
}

@mixin label($args...) {
  @include font("label", $args...);
}
