@use "partials";

.tile {
  display: flex;
  flex-direction: row;
  width: 100%;

  > .tile__content {
    display: flex;
    flex-direction: column;
    flex-grow: 100;

    > .tile__title {
      @include partials.font($type: "body", $weight: "medium", $size: "sm", $family: "avenir");
    }

    > .tile__descriptions {
      display: flex;
      flex-direction: column;
      gap: 2px;
      margin-top: partials.get-spacing("xs");

      > .tile__description {
        @include partials.font($type: "body", $weight: "regular", $size: "xs");

        color: partials.get-color("gray", 5);
      }
    }
  }

  > .actions {
    margin-left: partials.get-spacing("md");
  }
}
