@use "sass:meta";
@use "sass:selector";
@use "sass:list";

@use "throw";

@function prefix-selectors($selectors, $prefix: null) {
  @if $prefix {
    $new-selectors: ();
    @each $n in $selectors {
      $new-selectors: list.append($new-selectors, "#{$prefix}#{$n}", list.separator($selectors));
    }
    @return $new-selectors;
  }
  @return $selectors;
}

@function join-selectors($selectors, $prefix: null) {
  @if meta.type-of($selectors) == string {
    @return join-selectors(selector.parse($selectors), $prefix: $prefix);
  } @else if meta.type-of($selectors) == list {
    @return prefix-selectors($selectors, $prefix: $prefix);
  }
  @return throw.error(
    "Expected the selectors to be provided as a list or a string.",
    $source: "join-selectors()",
    $selectors: $selectors
  );
}
