@use "partials";

%button-link-base {
  @include partials.transition(none);

  display: flex;
  flex-direction: row;
  align-items: center;
  appearance: none;
  background-color: transparent;

  /* When providing a border, we need to use the outline property - not the border property.  This
     is because a border will contribute to the size of the button, whereas an outline will not. */
  border: none;
  border-radius: partials.$button-border-radius;
  box-shadow: none !important;
  box-sizing: border-box;
  cursor: pointer;
  font-family: partials.$button-font-family;
  font-stretch: normal;
  font-weight: partials.$button-font-weight;
  justify-content: center;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
}

@mixin button-link-structure($form) {
  $form: partials.validate-value($form, ("button", "link"));

  min-width: fit-content;

  > .#{$form}__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: inherit;
    vertical-align: middle;
    line-height: inherit;
    font-size: inherit;

    > .#{$form}__sub-content {
      text-align: inherit;
      vertical-align: middle;
      line-height: inherit;
      font-size: inherit;
    }

    > .#{$form}__icon-wrapper {
      @include partials.flex-c;

      height: 100%;

      // The aspect-ratio should be 1 inherently, based on the size specifications of the Spinner component when an icon
      // is being used.
      width: fit-content;

      // Include 8px of spacing between the wrapped icon/spinner and the text if the icon/spinner
      // is before the text.
      + * {
        margin-left: 8px;
      }
    }

    // Include 8px of spacing between the wrapped icon/spinner and the text if the icon/spinner is after the text.
    > * + .#{$form}__icon-wrapper {
      margin-left: 8px;
    }
  }

  .icon {
    color: inherit;
    filter: inherit;
  }
}
