@use "partials";

@mixin button-link-structure($form) {
  $form: partials.validate-value($form, ("button", "link"));

  min-width: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;

  > .#{$form}__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 100%;
    text-align: inherit;
    vertical-align: middle;
    line-height: inherit;
    font-size: inherit;
    overflow: hidden;
    max-width: 100%;
    flex-grow: 100;

    > .#{$form}__sub-content {
      text-align: inherit;
      vertical-align: middle;
      line-height: inherit;
      font-size: inherit;
      max-width: 100%;
      flex-grow: 100;
      @include partials.truncate();
    }

    > .#{$form}__icon-wrapper {
      @include partials.flex-c;

      height: 100%;

      // The aspect-ratio should be 1 inherently, based on the size specifications of the Spinner component when an icon
      // is being used.
      width: fit-content;

      // Include 8px of spacing between the wrapped icon/spinner and the text if the icon/spinner
      // is before the text.
      + * {
        margin-left: 8px;
      }
    }

    // Include 8px of spacing between the wrapped icon/spinner and the text if the icon/spinner is after the text.
    > * + .#{$form}__icon-wrapper {
      margin-left: 8px;
    }
  }

  .icon {
    color: inherit;
    filter: inherit;
  }
}
