@use "sass:list";
@use "sass:map";

@use "partials";
@use "./base" as *;

button {
  @include partials.button-base;
}

.button {
  @include partials.disabled;
  @include partials.with-selectors((partials.$button-locked-class, partials.$button-loading-class)) {
    pointer-events: none;
  }
  @include button-link-structure("button");

  &--corner-style-square {
    border-radius: 0px !important;
  }

  &--corner-style-rounded {
    border-radius: 50px !important;
  }
  /*
  For each variant, use the variant mixin that it is associated with as long as it is the only variant (i.e. distinct)
  on the class:

  &--primary:not(&--alternate, &--secondary, &--action, &--bare) {
    ...
  }
  */
  @each $type in partials.$button-types {
    @include partials.with-distinct-selector($type, partials.$button-types, $prefix: ".button--") {
      @include partials.button($type);
    }
  }
}
