@use "sass:list";
@use "sass:map";

@use "partials";
@use "./base" as *;

a {
  @extend %button-link-base;

  color: inherit;
  text-decoration: none;
}

.link {
  @extend %button-link-base;
  color: inherit;
  text-decoration: none;

  max-width: fit-content;
}
