@use "sass:list";
@use "sass:map";

@use "partials";
@use "./base" as *;

a {
  @extend %button-link-base;

  color: inherit;
  text-decoration: none;
}

.button-link-wrapper {
  max-width: fit-content;
}

.link {
  @extend %button-link-base;

  color: inherit;
  text-decoration: none;

  @include partials.disabled;
  @include button-link-structure("link");
}
