@use "sass:list";
@use "sass:map";

@use "partials";
@use "./base" as *;

a {
  @include partials.button-base();

  color: inherit;
  text-decoration: none;
}

.button-link-wrapper {
  max-width: fit-content;
}

.link {
  @include partials.button-base();

  text-decoration: none;
  line-height: 1;

  @include partials.disabled;
  @include button-link-structure("link");

  @layer {
    font-weight: partials.$link-font-weight;
    color: inherit;
  }

  @include partials.with-color-classes("color") using ($name, $color, $color-name) {
    &.link--#{$name} {
      color: $color;
    }
  }

  @include partials.with-color-classes("color", "hovered") using ($name, $color, $color-name) {
    &.link--#{$name} {
      @include partials.hovered {
        color: $color;
      }
    }
  }

  @include partials.with-color-classes("color", "focused") using ($name, $color, $color-name) {
    &.link--#{$name} {
      @include partials.focused {
        color: $color;
      }
    }
  }

  // Allow the font-weight to be overridden.
  @include partials.with-font-weights() using ($weight, $value) {
    &.link--font-weight-#{$weight} {
      font-weight: $value;
    }
  }

  // Allow the font-size to be overridden for each size.
  @include partials.with-font-sizes("body") using ($size, $data) {
    &.link--font-size-#{$size} {
      font-size: partials.mapget($data, font-size);
      line-height: partials.mapget($data, line-height);
    }
  }
}
