@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "sass:color";

@use "partials";

@mixin button-solid-size($size) {
  $padding: partials.get-button-padding("solid", $size: $size);
  $height: partials.get-button-size("solid", $size: $size);

  $vertical-padding: list.nth($padding, 1);
  $line-height: $height - 2 * $vertical-padding;

  font-size: partials.get-button-font-size("solid", $size: $size);

  /*
  Usually, the height of the button would just be determined by the combination of the vertical padding and line-height
  (i.e. height = 2 * vertical-padding + line-height).  However, we need to constrain the height (and not allow it to be
  "auto") such that the SVG icons or spinners can properly fill up the available height and size responsively.  If we
  did not define the height explicitly, this would not work.

  So instead of calculating the height based on the padding and line-height, we calculate the line-height based on the
  padding and height - and all 3 consistent with each other while still allowing the height to be constrained.
  */
  height: $height;
  line-height: $line-height;
  padding: $padding;
}

@mixin solid-type() {
  font-weight: partials.get-font-weight($weight: "semibold");

  &.button--outline {
    font-weight: partials.get-font-weight($weight: "regular");
  }

  @each $size in partials.$button-size-names {
    &.button--#{$size} {
      @include button-solid-size($size);
    }
  }

  > .button__content {
    > .button__icon-wrapper {
      padding-bottom: partials.$button-icon-padding;
      // When an icon or loading indicator is in the button, we want the height to slightly smaller than the line height
      // of the accompanying text - so we subtract a little height from the wrapper.
      padding-top: partials.$button-icon-padding;
    }
  }
}

@mixin alternate-type {
  font-weight: partials.get-font-weight($weight: "medium");
  padding: partials.get-button-padding("alternate");

  // Allow the font-weight to be overridden.
  @include partials.with-font-weights() using ($weight, $value) {
    &.font-weight-#{$weight} {
      font-weight: $value;
    }
  }

  @include partials.with-alignment() using ($alignment) {
    &.text-align-#{$alignment} {
      text-align: $alignment;
    }
  }

  @each $size in partials.$button-size-names {
    &.button--#{$size} {
      @layer {
        font-size: partials.get-button-font-size("alternate", $size: $size);
        height: partials.get-button-size("alternate", $size: $size);
        line-height: partials.get-button-size("alternate", $size: $size);
      }

      // Allow the font-size to be overridden for each size.
      @include partials.with-font-sizes("body") using ($size, $data) {
        &.font-size-#{$size} {
          @layer {
            font-size: partials.mapget($data, font-size);
          }
        }
      }
    }
  }
}

@mixin action-type {
  aspect-ratio: 1;

  // Use a layer so that the color can be more easily overridden in SASS elsewhere.
  @layer {
    color: partials.get-color("gray", $shade: 6);
    @include partials.with-state(("hovered", "focused")) {
      color: partials.get-color("gray", $shade: 7);
    }
  }

  @each $variant in partials.$button-variants {
    &.button--#{$variant} {
      padding: partials.get-button-padding("action", $variant);

      @each $size in partials.$button-size-names {
        &.button--#{$size} {
          height: partials.get-button-size("action", $variant: $variant, $size: $size);
          width: partials.get-button-size("action", $variant: $variant, $size: $size);
        }
      }
    }
  }

  &.button--bare {
    @include partials.button-hovered-colors("color");
    @include partials.button-focused-colors("color");
  }
}

@mixin button-type($type) {
  $type: partials.validate-value($type, partials.$button-types);
  @each $variant in partials.$button-variants {
    &.button--#{$type} {
      &.button--#{$variant} {
        @include partials.button-colors($type: $type, $variant: $variant);
      }
    }
  }
  @if string.quote($type) == "solid" {
    @include solid-type;
  } @else if string.quote($type) == "alternate" {
    @include alternate-type;
  } @else if string.quote($type) == "action" {
    @include action-type;
  } @else {
    @error "The provided button type #{meta.inspect($type)} is not a supported type.";
  }
}
