@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "sass:color";

@use "partials";

@mixin solid-type() {
  font-weight: partials.get-font-weight($weight: "semibold");

  @each $size in partials.$button-size-names {
    &.button--#{$size} {
      @include partials.button-solid-size($size);
    }
  }

  > .button__content {
    > .button__icon-wrapper {
      padding-bottom: partials.$button-icon-padding;
      // When an icon or loading indicator is in the button, we want the height to slightly smaller than the line height
      // of the accompanying text - so we subtract a little height from the wrapper.
      padding-top: partials.$button-icon-padding;
    }
  }
}

@mixin alternate-type {
  font-weight: partials.get-font-weight($weight: "medium");
  padding: partials.get-button-padding("alternate");

  // Allow the font-weight to be overridden.
  @include partials.with-font-weights() using ($weight, $value) {
    &.font-weight-#{$weight} {
      font-weight: $value;
    }
  }

  @each $size in partials.$button-size-names {
    &.button--#{$size} {
      font-size: partials.get-button-font-size("alternate", $size: $size);
      height: partials.get-button-size("alternate", $size: $size);
      line-height: partials.get-button-size("alternate", $size: $size);

      // Allow the font-size to be overridden for each size.
      @include partials.with-font-sizes("body") using ($size, $data) {
        &.font-size-#{$size} {
          font-size: partials.mapget($data, font-size);
        }
      }
    }
  }
}

@mixin action-type {
  aspect-ratio: 1;

  // Use a layer so that the color can be more easily overridden in SASS elsewhere.
  @layer {
    color: partials.get-color("gray", $shade: 6);
    @include partials.with-state(("hovered", "focused")) {
      color: partials.get-color("gray", $shade: 7);
    }
  }

  @each $variant in partials.$button-variants {
    &.button--action--#{$variant} {
      padding: partials.get-button-padding("action", $variant);

      @each $size in partials.$button-size-names {
        &.button--#{$size} {
          height: partials.get-button-size("action", $variant: $variant, $size: $size);
          width: partials.get-button-size("action", $variant: $variant, $size: $size);
        }
      }
    }
  }

  &.button--action--bare {
    @include partials.button-hovered-colors("color");
    @include partials.button-focused-colors("color");
  }
}

@mixin button-type($type) {
  $type: partials.validate-value($type, partials.$button-types);
  @each $variant in partials.$button-variants {
    &.button--#{$type}--#{$variant} {
      @include partials.button-colors($type: $type, $variant: $variant);
    }
  }
  @if string.quote($type) == "solid" {
    @include solid-type;
  } @else if string.quote($type) == "alternate" {
    @include alternate-type;
  } @else if string.quote($type) == "action" {
    @include action-type;
  } @else {
    @error "The provided button type #{meta.inspect($type)} is not a supported type.";
  }
}
