@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "sass:color";

@use "partials";

@mixin solid-type() {
  font-weight: partials.get-font-weight($weight: "semibold");

  @each $size in partials.$button-size-names {
    &.button--#{$size} {
      @include partials.button-solid-size($size);
    }
  }
}

@mixin alternate-type {
  font-weight: partials.get-font-weight($weight: "semibold");
  padding: partials.get-button-padding("alternate");

  @each $size in partials.$button-size-names {
    &.button--#{$size} {
      font-size: partials.get-button-font-size("alternate", $size: $size);
      height: partials.get-button-size("alternate", $size: $size);
      line-height: partials.get-button-size("alternate", $size: $size);
    }
  }
}

@mixin action-type {
  aspect-ratio: 1;

  @each $variant in partials.$button-variants {
    &.button--action--#{$variant} {
      padding: partials.get-button-padding("action", $variant);

      @each $size in partials.$button-size-names {
        &.button--#{$size} {
          height: partials.get-button-size("action", $variant: $variant, $size: $size);
          width: partials.get-button-size("action", $variant: $variant, $size: $size);
        }
      }
    }
  }
  &.button--action--bare {
    @include partials.button-hovered-colors("color");
    @include partials.button-focused-colors("color");
  }
}

@mixin button-type($type) {
  $type: partials.validate-value($type, partials.$button-types);
  @each $variant in partials.$button-variants {
    &.button--#{$type}--#{$variant} {
      @include partials.button-colors($type: $type, $variant: $variant);
    }
  }
  @if string.quote($type) == "solid" {
    @include solid-type;
  } @else if string.quote($type) == "alternate" {
    @include alternate-type;
  } @else if string.quote($type) == "action" {
    @include action-type;
  } @else {
    @error "The provided button type #{meta.inspect($type)} is not a supported type.";
  }
}
