@use "partials";

.versus {
  display: flex;
  flex-direction: column;
}

// .versus > .versus .model-image {
//   height: 100%;
//   aspect-ratio: 1;
//   width: auto;
// }


.versus__team {
  display: flex;
  flex-direction: row;
  gap: partials.get-spacing("md");
  height: 70px;
}

