@use "partials";
@use "./components";
@use "./utils";

html,
body {
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  @include partials.font("body", $size: "md", $weight: "regular");

  background: partials.$app-background-color;
  background-color: partials.$app-background-color;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
