@use "partials";

.app-header {
  width: 100vw;
  height: partials.$app-header-height;
  display: flex;
  padding: partials.$spacing-md;
  border-bottom: partials.$default-border;

  &__left,
  &__right {
    height: 100%;
    display: flex;
    align-items: center;

    > .app-header__logo {
      color: partials.get-color("heading", 8);
      line-height: 24px;
      font-size: 18px;
      font-weight: 600;
    }
  }

  &__right {
    flex-grow: 100;
    justify-content: right;
    gap: partials.get-spacing("md");
  }
}
