@use "partials";

@use "./drawers";
@use "./header";
@use "./page";
@use "./sidebar";
@use "./tabs";

.app-layout {
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
  position: relative;

  > .app-main {
    min-height: calc(100vh - partials.$app-header-height);
    max-width: 100vw;
    width: 100vw;
    height: calc(100vh - partials.$app-header-height);
    max-height: calc(100vh - partials.$app-header-height);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;

    > .app-viewport {
      overflow: hidden;
      display: flex;
      flex-direction: row;
      max-height: 100%;
      height: 100%;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      background-color: partials.$white;
      position: relative;

      > .app-viewport__content {
        flex-grow: 100;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 100%;
        max-width: 100%;
        padding: partials.get-spacing("md") partials.get-spacing("lg") partials.get-spacing("md")
          partials.get-spacing("lg");
      }
    }

    &--authenticated {
      > .app-viewport {
        width: calc(100% - partials.$app-sidebar-width);
        max-width: calc(100% - partials.$app-sidebar-width);
        min-width: calc(100% - partials.$app-sidebar-width);
      }
    }
  }
}
