@use "partials";

$page-header-height: 30px;
$page-header-margin-bottom: "lg";

.page {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  > .page__back-button {
    margin-bottom: partials.get-spacing("md");
  }

  > .page__header {
    margin-bottom: partials.get-spacing($page-header-margin-bottom);

    > .header {
      > .header__titles {
        > .title {
          line-height: 30px;
        }
      }
    }
  }

  > .page__content {
    overflow: hidden;
    position: relative;
  }
}
