@use "partials";

.app-sidebar {
  width: partials.$app-sidebar-width;
  border-right: partials.$layout-border;
  padding: partials.get-spacing("sm");
  display: flex;
  flex-direction: column;
  gap: partials.get-spacing("sm");

  > .sidebar-item {
    width: 100%;
    aspect-ratio: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: partials.get-radius("md");
    color: partials.get-color("gray", 8);

    @include partials.hovered {
      &:not(.active) {
        background-color: partials.get-color("gray", 2);
      }
    }

    &.active {
      background-color: partials.get-color("blue", 12);
      color: partials.get-color("white");
    }
  }
}
