@use "partials";

.tabs {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid partials.get-color("gray", $shade: 2);
  width: 100%;

  .tab-link {
    color: partials.get-color("gray", $shade: 8);
    font-weight: partials.get-font-weight($weight: "medium");
    font-size: partials.get-font-size($type: "body", $size: "sm");
    padding: 6px 16px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
    top: 2px;
    border-bottom: 2px solid transparent;
    line-height: 20px;

    .icon {
      color: partials.get-color("gray", 8);
    }

    @include partials.hovered {
      background-color: partials.get-color("gray", 1);
      border-bottom: 2px solid partials.get-color("gray", $shade: 4);
    }

    &.tab-link--active {
      border-bottom: 2px solid partials.get-color("blue");
    }
  }
}
