@use "sass:list";
@use "partials";

$tab-link-border-bottom-width: 2px;
$tab-link-padding: 6px 16px;
$tab-line-height: 20px;

.tabs {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid partials.get-color("gray", $shade: 2);
  width: 100%;

  .tab-link {
    color: partials.get-color("gray", $shade: 8);
    font-weight: partials.get-font-weight($weight: "medium");
    font-size: partials.get-font-size($type: "body", $size: "sm");
    padding: $tab-link-padding;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
    top: $tab-link-border-bottom-width;
    border-bottom: $tab-link-border-bottom-width solid transparent;
    line-height: $tab-line-height;
    height: 2 * list.nth($tab-link-padding, 1) + $tab-line-height + $tab-link-border-bottom-width;

    .icon {
      color: partials.get-color("gray", 8);
      height: 16px;
      width: auto;
    }

    @include partials.hovered {
      background-color: partials.get-color("gray", 1);
      border-bottom: $tab-link-border-bottom-width solid partials.get-color("gray", $shade: 4);
    }

    &.tab-link--active {
      border-bottom: $tab-link-border-bottom-width solid partials.get-color("blue");
    }
  }
}
