@forward "./colors";
@forward "./components";
@forward "./radius";
@forward "./spacing";
@forward "./typography";

$alignments: (left, center, right);

@mixin with-alignment {
  @each $alignment in $alignments {
    @content ($alignment);
  }
}
