@use "sass:string";
@use "sass:selector";
@use "partials";

@function get-color-class-name($p, $c, $shade) {
  @return "#{$p}-#{$c}-#{$shade}";
}

@mixin colors($color-type) {
  @each $name in partials.$color-names {
    $default-shade: partials.get-default-shade($name);

    .#{$color-type}-#{$name} {
      #{$color-type}: partials.get-color($name, $default-shade);
    }
    @each $shade in partials.$shades {
      $v: get-color-class-name($color-type, $name, $shade);
      .#{string.unquote($v)} {
        #{$color-type}: partials.get-color($name, $shade);
      }
    }
  }
}

@include colors("color");
@include colors("background-color");
@include colors("background");
@include colors("border-color");
