@use "partials";

$color-class-properties: ("color", "background-color", "border-color", "outline-color");

@each $property in $color-class-properties {
  @include partials.colors($property);
  @include partials.hovered-colors($property);
  @include partials.focused-colors($property);
}
