
$animation-time: 1s;

@keyframes fadeIn {
  0% { opacity: 1; }
  100% { opacity: 0 }
}

.fade-in-screen {
  animation: fadeIn $animation-time;
  -webkit-animation: fadeIn $animation-time;
  -moz-animation: fadeIn $animation-time;
  -o-animation: fadeIn $animation-time;
  -ms-animation: fadeIn $animation-time;
  background-color: rgba(100, 100, 100, 0.5);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
