@use "partials";

.managed-drawers {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.drawer-view {
  border-left: 1px solid partials.get-color("gray", $shade: 3);
  padding: partials.get-spacing("md") partials.get-spacing("lg") partials.get-spacing("md") partials.get-spacing("lg");
  height: 100%;
}
