@use "partials";

.drawer {
  padding: partials.get-spacing("md");
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  > .header {
    margin-bottom: partials.get-spacing("md");
  }

  > .drawer__content {
    overflow-y: scroll;
    flex-grow: 100;
  }
}
