@use "partials";

.form,
.form-field,
.form-field-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-field {
  .form-field__header {
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    height: 20px;

    > .form-field__label {
      font-size: partials.get-font-size("label", $size: "sm");
      color: partials.get-color("gray", $shade: 8);
      line-height: 20px;
      font-weight: partials.get-font-weight("label", $weight: "medium");
    }

    > .form-field__condition {
      flex-grow: 100;
      justify-content: right;
      display: flex;
      flex-direction: row;
      font-size: partials.get-font-size("label", $size: "xs");

      > * {
        line-height: 20px;
      }
    }
  }

  > .form-field__description {
    font-size: partials.get-font-size("body", $size: "xs");
    color: partials.get-color("gray", $shade: 6);
    line-height: 16px;
    font-weight: partials.get-font-weight("body", $weight: "regular");
    margin-bottom: 4px;
  }

  .form-field__errors {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;

    > .form-field__error {
      color: partials.get-color("error", $shade: 7);
      line-height: partials.get-line-height("body", $size: "xs");
      font-size: partials.get-font-size("body", $size: "xs");
      font-weight: partials.get-font-weight("body", $weight: "regular");
    }
  }
}

.form-field-group {
  .form-field__header {
    margin-bottom: 6px;
  }
}

.form,
.form-field-group {
  .form-field,
  .form-field-group {
    &:not(:last-of-type) {
      margin-bottom: partials.get-spacing("sm");
    }
  }
}

.form {
  position: relative;

  .form__close-button {
    position: absolute;
    top: partials.get-spacing("md");
    right: partials.get-spacing("md");
  }
}
