@use "partials";

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;

  .form-field__header {
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    height: 20px;

    > .form-field__label {
      font-size: partials.get-font-size("label", $size: "sm");
      color: partials.get-color("gray", $shade: 8);
      line-height: 20px;
      font-weight: partials.get-font-weight("label", $weight: "medium");
    }

    > .form-field__condition {
      flex-grow: 100;
      justify-content: right;
      display: flex;
      flex-direction: row;
      font-size: partials.get-font-size("label", $size: "xs");

      > * {
        line-height: 20px;
      }
    }
  }

  > .form-field__description {
    font-size: partials.get-font-size("body", $size: "xs");
    color: partials.get-color("gray", $shade: 6);
    line-height: 16px;
    font-weight: partials.get-font-weight("body", $weight: "regular");
    margin-bottom: 4px;
  }

  .form-field__errors {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;

    > .form-field__error {
      color: partials.get-color("error", $shade: 7);
      line-height: partials.get-line-height("body", $size: "xs");
      font-size: partials.get-font-size("body", $size: "xs");
      font-weight: partials.get-font-weight("body", $weight: "regular");
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;

  .form-field {
    &:not(:last-of-type) {
      margin-bottom: partials.get-spacing("sm");
    }
  }
}
