@use "sass:map";
@use "sass:color";
@use "throw";
@use "partials";

%icon-svg-base {
  fill: currentcolor;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  vertical-align: 0;

  path {
    color: inherit;
    fill: inherit;
  }
}

@mixin icon-size-classes($axis) {
  @each $size in map.keys(partials.$icon-sizes) {
    &.icon--size-#{$size} {
      @include partials.icon-sizing($size, $axis);
    }
  }
}

.icon {
  @extend %icon-svg-base;

  // For when the icon is a spinner and indicating loading state.
  animation-duration: 1s;
  padding: 0;
  vertical-align: 0;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;

  &--contain-square:not(&--contain-fit) {
    @include partials.icon-contain("square");
  }

  &--contain-fit:not(&--contain-square) {
    @include partials.icon-contain("fit");
  }

  &:not(&--contain-fit, &--contain-square) {
    @include partials.icon-contain(partials.$default-icon-size-contain);
  }

  &--axis-vertical:not(&--axis-horizontal) {
    @include icon-size-classes("vertical");
  }

  &--axis-horizontal:not(&--axis-vertical) {
    @include icon-size-classes("horizontal");
  }
}
