@use "partials";

// Since the underlying image uses NextJS's image, where the height and width are required to be specified in JS, the
// size of the avatar should not be provided in SASS.
.avatar-with-name {
  @layer {
    gap: partials.get-spacing("sm");
  }

  > .avatar-with-name__content {
    @layer {
      gap: partials.get-spacing("xs");
    }

    > .body {
      font-size: partials.get-font-size($type: "body", $size: "sm");
      color: partials.get-color("gray", $shade: 8);
      @include partials.truncate();
    }

    .button {
      font-size: partials.get-font-size($type: "body", $size: "sm");
      @include partials.truncate();
    }
  }
}

.model-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  @layer {
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    // The default case for the model image is that the path is clipped so the image appears as a circle.
    clip-path: inset(0px round 1000px);
  }

  @layer {
    font-size: partials.get-font-size($type: "body", $size: "xl");
  }

  @include partials.with-radius using ($size, $value) {
    &--border-radius-#{$size} {
      clip-path: inset(0px round $value);
    }
  }

  > .model-image__fallback {
    @include partials.flex-c;
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    background-color: partials.get-color("gray", $shade: 2);
    padding: partials.get-spacing("xs");

    > .body {
      font-weight: partials.get-font-weight($weight: "medium");
      color: partials.get-color("gray", $shade: 9);

      @layer {
        font-size: inherit;
      }
    }
  }
}
