@use "sass:map";
@use "partials";

@mixin app-loading() {
  height: 100vh;
  width: 100vw;

  > .spinner {
    height: partials.get-icon-size("lg");
    width: partials.get-icon-size("lg");

    // > svg {
    //   height: 100%;
    //   width: 100%;
    // }
  }
}

.loading {
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1000;

  > .spinner {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }

  &--screen {
    @include app-loading;
  }
}
