@use "sass:map";
@use "partials";

@mixin app-loading() {
  height: 100vh;
  width: 100vw;

  > .spinner {
    height: partials.get-icon-size("lg");
    width: partials.get-icon-size("lg");
  }
}

.loading {
  @include partials.flex-c;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1000;
  overflow: hidden;

  > .spinner {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }

  &--screen {
    @include app-loading;
  }

  &--overlay {
    background: rgba(255, 255, 255, 0.75);
  }
}
