@use "sass:map";
@use "partials";

@include partials.font-faces;

%typography-base {
  font-feature-settings:
    "tnum" on,
    "lnum" on;
  font-style: normal !important;
  font-variant: tabular-nums;
  margin: 0;
  padding: 0;

  em,
  b {
    font-style: normal !important;
  }

  i {
    font-style: normal !important;
  }
}

%body-defaults {
  @include partials.font("body");
}

%heading-defaults {
  @include partials.font("heading");
}

%label-defaults {
  @include partials.font("label");
}

@mixin font-weights($type) {
  @each $weight in partials.$font-weight-names {
    .font-weight-#{$weight} {
      @include partials.font-weight($type: $type, $weight: $weight);
    }
  }
}

@mixin font-sizes($type) {
  @each $size in partials.$typography-sizes {
    .font-size-#{$size} {
      @include partials.font($type, $size: $size, $pick: (line-height, font-size));
    }
  }
}

// By default, the "font-weight-x" classes will apply to body text (unless the element is an h-tag).
@include font-weights("body");

// By default, the "font-size-x" classes will apply to body text (unless the element is an h-tag).
@include font-sizes("body");

html,
body {
  @extend %typography-base;

  font-family:
    partials.get-font-family("body"),
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

p {
  @extend %typography-base;
  @extend %body-defaults;

  em,
  b {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
  }
}

label {
  // Do not define defaults for the typography properties.  This allows the typography properties to only be applied if
  // the component is provided with the appropriate props, and allows us to override the properties in SASS elsewhere
  // in cases where the component is not provided with those props.
  @extend %typography-base;

  display: flex;
  width: 100%;

  @each $size in partials.$typography-sizes {
    &.font-size-#{$size} {
      $font-size: partials.get-font-size("label", $size);
      $line-height: partials.get-line-height("label", $size);

      > .icon {
        height: $font-size;
        margin-right: 6px;
        padding-bottom: 0.5 * ($line-height - $font-size);
        padding-top: 0.5 * ($line-height - $font-size);
        width: auto;
      }
    }
  }

  &--transform-underline {
    text-decoration: underline;
  }

  &--transform-caps {
    text-transform: uppercase;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %typography-base;
  @extend %heading-defaults;

  width: 100%;

  em,
  b {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
  }
}

h1 {
  @include partials.font("heading", $size: "xl", $pick: (line-height, font-size));
  // Include the font-size class specifications in this selector so that they can be overridden via the prop on the
  // component.
  @include font-weights("heading");
  @include font-sizes("heading");
}

h2 {
  @include partials.font("heading", $size: "lg", $pick: (line-height, font-size));
  // Include the font-size class specifications in this selector so that they can be overridden via the prop on the
  // component.
  @include font-weights("heading");
  @include font-sizes("heading");
}

h3 {
  @include partials.font("heading", $size: "md", $pick: (line-height, font-size));
  // Include the font-size class specifications in this selector so that they can be overridden via the prop on the
  // component.
  @include font-weights("heading");
  @include font-sizes("heading");
}

h4 {
  @include partials.font("heading", $size: "sm", $pick: (line-height, font-size));
  // Include the font-size class specifications in this selector so that they can be overridden via the prop on the
  // component.
  @include font-weights("heading");
  @include font-sizes("heading");
}

h5 {
  @include partials.font("heading", $size: "xs", $pick: (line-height, font-size));
  // Include the font-size class specifications in this selector so that they can be overridden via the prop on the
  // component.
  @include font-weights("heading");
  @include font-sizes("heading");
}

h6 {
  @include partials.font("heading", $size: "xxs", $pick: (line-height, font-size));
  // Include the font-size class specifications in this selector so that they can be overridden via the prop on the
  // component.
  @include font-weights("heading");
  @include font-sizes("heading");
}

.body {
  // Do not define defaults for the typography properties.  This allows the typography properties to only be applied if
  // the component is provided with the appropriate props, and allows us to override the properties in SASS elsewhere
  // in cases where the component is not provided with those props.
  @extend %typography-base;

  align-items: center;
  display: flex;
  flex-direction: row;

  &--transform-underline {
    text-decoration: underline;
  }

  &--transform-caps {
    text-transform: uppercase;
  }

  &--align-left {
    justify-content: left;
  }

  &--align-center {
    justify-content: center;
  }

  &--align-right {
    justify-content: right;
  }

  > .icon {
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  @each $size in partials.$typography-sizes {
    &.font-size-#{$size} {
      $font-size: partials.get-font-size("body", $size);
      $line-height: partials.get-line-height("body", $size);

      > .icon {
        height: $font-size;
        margin-right: 6px;
        padding-bottom: 0.5 * ($line-height - $font-size);
        padding-top: 0.5 * ($line-height - $font-size);
        width: auto;
      }
    }
  }
}
