@use "sass:map";
@use "partials";

@include partials.font-faces;

%typography-base {
  font-feature-settings:
    "tnum" on,
    "lnum" on;
  font-style: normal !important;
  font-variant: tabular-nums;
  margin: 0;
  padding: 0;

  em,
  b {
    font-style: normal !important;
  }

  i {
    font-style: normal !important;
  }
}

%body-defaults {
  @include partials.font("body");
}

%heading-defaults {
  @include partials.font("heading");
}

html,
body {
  @extend %typography-base;

  font-family:
    partials.get-font-family("body"),
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

p {
  @extend %typography-base;
  @extend %body-defaults;

  em,
  b {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
  }
}

@mixin font-weights($type) {
  @each $weight in partials.$font-weight-names {
    .font-weight-#{$weight} {
      @include partials.font-weight($type, $weight);
    }
  }
}

@mixin font-sizes($type) {
  @each $size in partials.$typography-sizes {
    .font-size-#{$size} {
      @include partials.font($type, $size: $size, $pick: (line-height, font-size));
    }
  }
}

// By default, the "font-weight-x" classes will apply to body text (unless the element is an h-tag).
@include font-weights("body");

// By default, the "font-size-x" classes will apply to body text (unless the element is an h-tag).
@include font-sizes("body");

@mixin typography-type-variants($type) {
  // Repeat here to make sure it takes precedence under the more specific selector for font sizes.
  @include font-sizes($type);

  @each $size in partials.$typography-sizes {
    &.font-size-#{$size} {
      $font-size: partials.get-font-size($type, $size);
      $line-height: partials.get-line-height($type, $size);

      > .icon {
        height: $font-size;
        margin-right: 6px;
        padding-bottom: 0.5 * ($line-height - $font-size);
        padding-top: 0.5 * ($line-height - $font-size);
        width: auto;
      }
    }
  }
  // Repeat here to make sure it takes precedence under the more specific selector for font weights.
  @include font-weights($type);
}

label {
  @extend %typography-base;
  @include partials.label;
  @include typography-type-variants("label");

  display: flex;
  width: 100%;

  &--transform-underline {
    text-decoration: underline;
  }

  &--transform-caps {
    text-transform: uppercase;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %typography-base;
  @extend %heading-defaults;
  @include typography-type-variants("heading");

  width: 100%;

  em,
  b {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
  }
}

.body {
  @extend %typography-base;
  @include typography-type-variants("body");

  align-items: center;
  display: flex;
  flex-direction: row;

  &--transform-underline {
    text-decoration: underline;
  }

  &--transform-caps {
    text-transform: uppercase;
  }

  &--align-left {
    justify-content: left;
  }

  &--align-center {
    justify-content: center;
  }

  &--align-right {
    justify-content: right;
  }

  > .icon {
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}
