@use "sass:color";
@use "partials";

/*
Provides base styling properties for raw HTML elements that act as the actual HTML input element that handles user
input.  This should not be used for classes that wrap a native HTML input element in a wrapper that acts as the visual
"input".

Okay Usage:
----------
.my-input {
  @extends %native-input-base
}

<input class="my-input" type="text" />

Wrong Usage:
-----------
.input {
  @extends %native-input-base
}

<div class="input">
  ...
  <input type="text" />
  ...
</div>
*/
%native-input-base {
  @include partials.transition(none);
  @include partials.input-font-properties;

  align-items: center;
  background-image: none !important;
  border: none;
  box-shadow: none !important;
  box-sizing: border-box;
  caret-color: partials.$input-caret-color;
  cursor: text;
  list-style: none;
  margin: 0;
  min-width: 0;
  width: 100%;

  &::placeholder {
    color: partials.$input-placeholder-color;
  }

  ::placeholder {
    color: partials.$input-placeholder-color;
  }
}

/*
Provides base styling properties for components that wrap native HTML input-like elements and acts as the visual
representation of the input to the user.

Ok Usage:
---------
.input {
  @include input-base
  input {
    @extends %native-input-base;
  }
}

<div class="input">
  ...
  <input type="text" />
  ...
</div>

Wrong Usage:
-----------
.input {
  @extends %native-input-base

  input {
    @extends %native-input-base
  }
}

<div class="input">
  ...
  <input type="text" />
  ...
</div>
*/
@mixin input-base {
  $p: &; // Parent selector for use in strings
  @extend %native-input-base;
  @include partials.input-properties;

  > .native-input {
    font-size: inherit;
    line-height: inherit;
    padding: 0;
  }
}

.native-input {
  @extend %native-input-base;
}
