@use "partials";

@use "./base";

@mixin select-option-structure {
  @include partials.menu-item-properties;
  display: flex;
  flex-direction: row;
  align-items: center;

  > .icon {
    margin-right: partials.get-spacing("md");
  }
}

.select {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include partials.select-size-classes();
  @include partials.mantine-select-input {
    @include base.input-base;
    @include partials.input-properties;
  }

  .select__option {
    @include select-option-structure;
  }

  .select-option-createable {
    /*  Note: Right now, we cannot add the custom hover and focus background color behavior to the creatable option at
        the bottom of the select.  This is because Mantine does not use the optionComponent prop for this option, and
        thus we cannot provide the custom .select__option class to the wrapping option element.  This means that the
        hover and focus background colors will apply to the inner section of the creatable option - but not the outer
        section.

        Eventually, we will use our own select and this issue will be alleviated. */
    @include select-option-structure;
  }
}
