@use "sass:color";
@use "sass:list";

@use "partials";
@use "./base";

// Not currently used - but will be used eventually.
.text-input {
  @include partials.text-input;

  display: flex;
  flex-direction: row;
}

.mantine-TextInput-input {
  @include base.input-base;
}
