@use "partials";

.actions {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: partials.get-spacing("md");
  height: 24px;

  > * {
    max-height: 100%;
    min-height: auto;
    min-width: 0;
  }
}
