@use "partials";

.button-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: partials.get-spacing("md");

  &.button-footer--right-justified {
    justify-content: flex-end;
  }

  &.button-footer--full-width {
    > .button-footer__button {
      flex: 1;
    }
  }
}
