@use "partials";

@mixin row-direction() {
  flex-direction: row;
  @include partials.with-alignment() using ($alignment) {
    &.flex--text-align-#{$alignment} {
      text-align: $alignment;
      justify-content: $alignment;
    }
  }
}

@mixin column-direction() {
  flex-direction: column;
  @include partials.with-alignment() using ($alignment) {
    &.flex--text-align-#{$alignment} {
      text-align: $alignment;
      align-items: $alignment;
    }
  }
}

.flex {
  display: flex;

  @include partials.without-selectors((row, column), $prefix: ".flex--direction-") {
    @include row-direction();
  }

  &--direction-column {
    @include column-direction();
  }

  &--direction-row {
    @include row-direction();
  }

  @include partials.with-spacing() using ($size, $spacing) {
    &.flex--gap-#{$size} {
      gap: $spacing;
    }
  }
}
