@use "partials";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &__titles {
    display: flex;
    flex-direction: column;
    gap: 2px;

    > .header__title {
      color: partials.get-font-color("heading", $shade: 8);
    }

    > .header__subtitle {
      color: partials.get-color("gray", $shade: 6);
    }
  }

  > .actions {
    flex-grow: 100;
  }
}
