@use "partials";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__titles {
    display: flex;
    flex-direction: column;
    gap: 2px;

    > .header__title {
      // We allow the font size to be defined in the component itself.
      color: partials.get-font-color("heading", $shade: 8);
      font-weight: partials.get-font-weight("heading", $weight: "medium");
    }

    > .header__subtitle {
      // We allow the font size to be defined in the component itself.
      color: partials.get-color("gray", $shade: 6);
      font-weight: partials.get-font-weight("body", $weight: "regular");
    }
  }

  > .actions {
    flex-grow: 100;
  }
}
