@use "partials";

.partitioned-content {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: partials.get-spacing("md");
  position: relative;

  > .partitioned-content__content {
    overflow-y: scroll;
    flex-grow: 100;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
