@use "sass:map";
@use "partials";

@include partials.font-faces;

%typography-base {
  font-feature-settings:
    "tnum" on,
    "lnum" on;
  font-style: normal !important;
  font-variant: tabular-nums;
  margin: 0;
  padding: 0;

  em,
  b {
    font-style: normal !important;
  }

  i {
    font-style: normal !important;
  }
}

html,
body {
  @extend %typography-base;

  font-family:
    partials.get-font-family("body"),
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

p {
  @extend %typography-base;
  @include partials.font("body");

  em,
  b {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
  }
}

@mixin with-fonts($type) {
  @include partials.with-font-sizes($type) using ($size, $data) {
    &.font-size-#{$size} {
      font-size: partials.mapget($data, font-size);
      line-height: partials.mapget($data, line-height);
      font-weight: partials.mapget($data, font-weight);
      @content ($data);
    }
  }
}

.label {
  // Do not define defaults for the typography properties.  This allows the typography properties to only be applied if
  // the component is provided with the appropriate props, and allows us to override the properties in SASS elsewhere
  // in cases where the component is not provided with those props.
  @extend %typography-base;

  // Allow the font-weight to be overridden for each size.
  @include partials.with-font-weights() using ($weight, $value) {
    &.font-weight-#{$weight} {
      font-weight: $value;
    }
  }

  @include with-fonts("label") using ($data) {
    $font-size: partials.mapget($data, font-size);
    $line-height: partials.mapget($data, line-height);

    > .icon {
      height: $font-size;
      margin-right: 6px;
      padding-bottom: 0.5 * ($line-height - $font-size);
      padding-top: 0.5 * ($line-height - $font-size);
      width: auto;
    }
  }

  display: flex;
  width: 100%;

  &--transform-underline {
    text-decoration: underline;
  }

  &--transform-caps {
    text-transform: uppercase;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %typography-base;
  @include with-fonts("heading");

  // Allow the font-weight to be overridden for each size.
  @include partials.with-font-weights() using ($weight, $value) {
    &.font-weight-#{$weight} {
      font-weight: $value;
    }
  }

  width: 100%;

  em,
  b {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
  }
}

h1 {
  @include partials.font("heading", $size: "xl", $pick: (line-height, font-size));
}

h2 {
  @include partials.font("heading", $size: "lg", $pick: (line-height, font-size));
}

h3 {
  @include partials.font("heading", $size: "md", $pick: (line-height, font-size));
}

h4 {
  @include partials.font("heading", $size: "sm", $pick: (line-height, font-size));
}

h5 {
  @include partials.font("heading", $size: "xs", $pick: (line-height, font-size));
}

h6 {
  @include partials.font("heading", $size: "xxs", $pick: (line-height, font-size));
}

.body {
  // Do not define defaults for the typography properties.  This allows the typography properties to only be applied if
  // the component is provided with the appropriate props, and allows us to override the properties in SASS elsewhere
  // in cases where the component is not provided with those props.
  @extend %typography-base;

  // Allow the font-weight to be overridden for each size.
  @include partials.with-font-weights() using ($weight, $value) {
    &.font-weight-#{$weight} {
      font-weight: $value;
    }
  }

  @include with-fonts("body") using ($data) {
    $font-size: partials.mapget($data, font-size);
    $line-height: partials.mapget($data, line-height);

    > .icon {
      height: $font-size;
      margin-right: 6px;
      padding-bottom: 0.5 * ($line-height - $font-size);
      padding-top: 0.5 * ($line-height - $font-size);
      width: auto;
    }
  }

  align-items: center;
  display: flex;
  flex-direction: row;

  &--transform-underline {
    text-decoration: underline;
  }

  &--transform-caps {
    text-transform: uppercase;
  }

  &.truncate,
  &.clamp {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.clamp {
    -webkit-line-clamp: 2; // This is the default - it can be overridden via props.
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  @include partials.with-alignment() using ($alignment) {
    &--align-#{$alignment} {
      justify-content: $alignment;
    }
  }

  > .icon {
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
  }
}
