@use "partials";

@mixin auth-page($auth-name) {
  .cl-#{$auth-name}-root {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .cl-#{$auth-name}-start {
      box-shadow: none;
      max-height: 800px;
    }
  }
}

@include auth-page(signUp);

@include auth-page(signIn);

h1.cl-headerTitle {
  @include partials.font("heading", $size: "md");
}

h2.cl-headerTitle {
  @include partials.font("heading", $size: "md");
}

h3.cl-headerTitle {
  @include partials.font("heading", $size: "md");
}

h4.cl-headerTitle {
  @include partials.font("heading", $size: "sm");
}

h5.cl-headerTitle {
  @include partials.font("heading", $size: "xs");
}

h6.cl-headerTitle {
  @include partials.font("heading", $size: "xxs");
}

button.cl-formButtonPrimary {
  @include partials.button($type: "solid", $variant: "primary", $size: "sm");
}
