@use "partials";

@mixin select-option-structure {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: partials.get-color("white");
  color: partials.get-color("gray", 8);
  padding: 6px 8px;

  > .icon {
    margin-right: partials.get-spacing("md");
  }

  @include partials.font($type: "body", $weight: "regular", $size: "md");

  @include partials.hovered {
    background-color: partials.get-color("gray", 1);
    color: partials.get-color("gray", 8);
  }
  @include partials.focused {
    background-color: partials.get-color("gray", 1);
    color: partials.get-color("gray", 8);
  }

  &.selected {
    background-color: partials.get-color("white");
    color: partials.get-color("gray", 8);

    @include partials.hovered {
      background-color: partials.get-color("gray", 1);
      color: partials.get-color("gray", 8);
    }
    @include partials.focused {
      background-color: partials.get-color("gray", 1);
      color: partials.get-color("gray", 8);
    }
  }
}

.select {
  .select__option {
    @include select-option-structure;
  }

  .select-option-createable {
    @include select-option-structure;

    color: partials.get-color("gray", 9);
  }
}
