@use "partials";

.feedback-view {
  @include partials.flex-c;
  height: 100%;
  width: 100%;
}

.feedback-view__content {
  max-width: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: partials.get-spacing("md");
  align-items: center;
}

.feedback-view__content > * {
  text-align: center;
}

.feedback-view--cover-screen {
  height: 100vh;
  width: 100vw;
}
