@use "sass:string";
@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:color";

@use "../../functions" as fn;
@use "../../mixins" as mixins;

@use "../colors" as colors;
@use "../radius" as radius;
@use "../typography" as typography;
@use "./icons" as icons;

/* ----------------------------------------- Variants ------------------------------------------ */
$button-types: ("solid", "alternate", "action");
$button-default-type: "solid";
$button-variants: ("primary", "secondary", "danger", "bare", "outline");

/* ------------------------------------------------------- Mixins --------------------------------------------------- */
$button-locked-class: ".button--locked";
$button-loading-class: ".button--loading";

@mixin button-hovered {
  @include mixins.hovered {
    @include mixins.without-selectors(($button-loading-class, $button-locked-class)) {
      @content;
    }
  }
}

@mixin button-focused {
  @include mixins.focused {
    @include mixins.without-selectors(($button-loading-class, $button-locked-class)) {
      @content;
    }
  }
}

@mixin button-hovered-colors($color-type) {
  @include colors.with-color-classes($color-type) using ($name, $classname, $color) {
    &.#{$classname}-hovered {
      @include button-hovered {
        #{$color-type}: $color;
      }
    }
  }
}

@mixin button-focused-colors($color-type) {
  @include colors.with-color-classes($color-type) using ($name, $classname, $color) {
    &.#{$classname}-focused {
      @include button-focused {
        #{$color-type}: $color;
      }
    }
  }
}

/* ---------------------------------------------------- Properties -------------------------------------------------- */

/*
Buttons  need to leverage an outline instead of a border, because an outline is inset and a border is outset. In other
words, the border will contribute size to the overall Button, while the outline will not.
*/
$button-outline-width: 1px;
$button-border-radius: radius.get-radius("sm");

/*
When an Icon and/or Spinner are in the Button, the size of the Icon or Spinner needs to be just a hair smaller than the
line-height of the accompanying text. To do this, the height of the element inside of the Button that wraps the Icon or
Spinner needs to still consume 100% of the available height (i.e. size = "fill"), but needs to have inner padding to
shrink the size of the Icon or Spinner it contains.
*/
$button-icon-padding: 2px;

/* ------------------------------------------------------- Sizing --------------------------------------------------- */
$button-size-names: ("xs", "sm", "md", "lg");
$button-default-size: "sm";

/*
Note: The mapped values are not applicable for the Alternate Variant - just the buttons/anchors that have borders and/or
backgrounds with text (Primary, Secondary and Bare Variants).
*/
$button-solid-padding: (
  "xs": 6px 14px,
  "sm": 8px 16px,
  "md": 10px 20px,
  "lg": 14px 30px,
);

/*
The Action Button sizes are designed such that the sizes of the actual Icons, which are already defined for icons, stay
consistent between the Bare variant (where there is no background or border) and the Primary/Secondary variants (where
there is a background and border) - for a given size string.  For instance, a medium sized Primary Action Button should
have a medium sized Icon and a medium sized Bare Action Button shyould have a medium sized icon, even if the outer sizes
of the buttons themselves differ.
*/
$button-action-bare-padding: 2px;
$button-action-primary-padding: 6px;
$button-action-secondary-padding: 6px;
$button-action-danger-padding: 6px;
$button-action-outline-padding: 6px;

$button-action-padding: (
  "bare": $button-action-bare-padding,
  "primary": $button-action-primary-padding,
  "secondary": $button-action-secondary-padding,
  "danger": $button-action-danger-padding,
  "outline": $button-action-outline-padding,
);

$button-padding: (
  "action": $button-action-padding,
  "solid": $button-solid-padding,
  "alternate": 0px,
);

@function get-button-padding($type, $size: null, $variant: null) {
  @if $size and $variant {
    @return throw.error(
      "Both the size and variant cannot be provided together when obtaining the button padding for button type #{$type}.",
      $type,
      $size,
      $variant,
      $source: "get-button-padding("
    );
  }
  $type: fn.validate-value($type, $button-types);
  $p: fn.mapget($button-padding, $type);
  @if meta.type-of($p) == map {
    @if $size {
      @return fn.mapget($p, $size);
    } @else if $variant {
      @return fn.mapget($p, $size);
    }
    @return throw.error(
      "The size or variant must be provided to obtain the button padding for button type #{$type}.",
      $type,
      $source: "get-button-padding("
    );
  }
  @return $p;
}

/*
Usually, the height of the button would just be determined by the combination of the vertical padding and line-height
(i.e. height = 2 * vertical-padding + line-height).  However, we need to constrain the height (and not allow it to be
"auto") such that the SVG icons or spinners can properly fill up the available height and size responsively.  If we did
not define the height explicitly, it would not be constrained and this would not work.

So instead of calculating the height based on the padding and line-height, we define the heights and the padding and
then calculate the line-height based on the padding and height - and all 3 consistent with each other while still
allowing the height to be constrained.
*/
$button-solid-sizes: (
  "xs": 28px,
  "sm": 32px,
  "md": 40px,
  "lg": 48px,
);

$button-alternate-sizes: (
  "xs": 12px,
  "sm": 13px,
  "md": 14px,
  "lg": 16px,
);

$button-action-sizes: ();

// For each button size and each action variant, calculate the size of the action button based on the size of the icon
// plus two times the padding.
@each $variant in $button-variants {
  @each $size in $button-size-names {
    $button-action-sizes: map.set(
      $button-action-sizes,
      $variant,
      $size,
      fn.mapget(icons.$icon-sizes, $size) + 2 * fn.mapget($button-action-padding, $variant)
    );
  }
}

$button-sizes: (
  "solid": $button-solid-sizes,
  "alternate": $button-alternate-sizes,
  "action": $button-action-sizes,
);

@function get-button-size($type, $variant: null, $size: null) {
  $type: fn.validate-value($type, $button-types);
  $size: fn.validate-value(if($size, $size, $button-default-size), $button-size-names);
  // Sizes for that type of button.
  $type-sizes: fn.mapget($button-sizes, $type);
  @if $variant {
    // For the alternate case, the size of the button depends on the variant.
    @if not map.has-key($type-sizes, $variant) {
      @return throw.error(
        "The variant is not applicable or is invalid for button type #{$type}.",
        $type,
        $source: "get-button-size()"
      );
    }
    $type-sizes: fn.mapget($type-sizes, $variant);
  }
  @return fn.mapget($type-sizes, $size);
}

/* ------------------------------------------------------- Fonts --------------------------------------------------- */
$button-font-family: typography.$font-family-inter;

// The button font-weight here is used as the default - the font-weight will usually depend on the variant.
$button-font-weight: typography.get-font-weight(
  $weight: "medium",
);
$link-font-weight: typography.get-font-weight(
  $weight: "medium",
);

$button-solid-font-sizes: (
  "xs": 12px,
  "sm": 13px,
  "md": 14px,
  "lg": 16px,
);

// The alternate button has no padding, and its line height is equal to the font-size.
$button-alternate-font-sizes: $button-alternate-sizes;

$button-font-sizes: (
  "alternate": $button-alternate-font-sizes,
  "solid": $button-solid-font-sizes,
  "action": null,
);

@function get-button-font-size($type, $size: null) {
  $type: fn.validate-value($type, $button-types);
  $size: if($size, $size, $button-default-size);
  $size: fn.validate-value($size, $button-size-names);
  @return fn.mapget($button-font-sizes, $type, $size);
}

/* ------------------------------------------------------- Colors --------------------------------------------------- */
$button-state-names: ("hovered", "focused", "disabled");

@function map-has-state-key($data) {
  @each $state-name in $button-state-names {
    @if map.has-key($data, $state-name) {
      @return true;
    }
  }
  @return false;
}

$themes: (
  "danger": (
    base: colors.get-color("red", $shade: 11),
    hovered: colors.get-color("red", $shade: 13),
    focused: colors.get-color("red", $shade: 13),
    disabled: colors.get-color("red", $shade: 4),
  ),
  "primary": (
    base: colors.get-color("blue", $shade: 9),
    hovered: colors.get-color("blue", $shade: 11),
    focused: colors.get-color("blue", $shade: 11),
    disabled: colors.$disabled-color,
  ),
  "secondary": (
    base: colors.get-color("gray", $shade: 2),
    hovered: colors.get-color("gray", $shade: 3),
    focused: colors.get-color("gray", $shade: 3),
    disabled: colors.$disabled-color,
  ),
  "outline": (
    base: colors.get-color("gray", $shade: 4),
    hovered: colors.get-color("gray", $shade: 5),
    focused: colors.get-color("gray", $shade: 5),
    disabled: colors.$disabled-color,
  ),
  "bare": (),
);

$button-color-properties: (
  "solid": (
    "primary": (
      background-color: fn.mapget($themes, "primary", "base"),
      color: colors.$white,
      outline-color: fn.mapget($themes, "primary", "base"),
      hovered: (
        background-color: fn.mapget($themes, "primary", "hovered"),
        outline-color: fn.mapget($themes, "primary", "hovered"),
      ),
      focused: (
        background-color: fn.mapget($themes, "primary", "focused"),
        outline-color: fn.mapget($themes, "primary", "focused"),
      ),
      disabled: (
        background-color: fn.mapget($themes, "primary", "disabled"),
        outline-color: fn.mapget($themes, "primary", "disabled"),
      ),
    ),
    "secondary": (
      background-color: fn.mapget($themes, "secondary", "base"),
      color: colors.get-color("gray", $shade: 8),
      outline-color: fn.mapget($themes, "secondary", "base"),
      hovered: (
        background-color: fn.mapget($themes, "secondary", "hovered"),
        outline-color: fn.mapget($themes, "secondary", "hovered"),
      ),
      focused: (
        background-color: fn.mapget($themes, "secondary", "focused"),
        outline-color: fn.mapget($themes, "secondary", "focused"),
      ),
      disabled: (
        background-color: fn.mapget($themes, "secondary", "disabled"),
        outline-color: fn.mapget($themes, "secondary", "disabled"),
      ),
    ),
    "danger": (
      background-color: fn.mapget($themes, "danger", "base"),
      color: colors.$white,
      outline-color: fn.mapget($themes, "danger", "base"),
      hovered: (
        background-color: fn.mapget($themes, "danger", "hovered"),
        outline-color: fn.mapget($themes, "danger", "hovered"),
      ),
      focused: (
        background-color: fn.mapget($themes, "danger", "focused"),
        outline-color: fn.mapget($themes, "danger", "focused"),
      ),
      disabled: (
        background-color: fn.mapget($themes, "danger", "disabled"),
        outline-color: fn.mapget($themes, "danger", "disabled"),
      ),
    ),
    "outline": (
      outline-color: fn.mapget($themes, "outline", "base"),
      background-color: colors.get-color("white"),
      color: colors.get-color("gray", $shade: 8),
      hovered: (
        outline-color: fn.mapget($themes, "outline", "hovered"),
      ),
      focused: (
        outline-color: fn.mapget($themes, "outline", "hovered"),
      ),
      disabled: (
        background-color: fn.mapget($themes, "primary", "disabled"),
        outline-color: fn.mapget($themes, "primary", "disabled"),
      ),
    ),
    "bare": (),
  ),
  "action": (
    "primary": (
      background-color: fn.mapget($themes, "primary", "base"),
      color: colors.$white,
      outline-color: fn.mapget($themes, "primary", "base"),
      hovered: (
        background-color: fn.mapget($themes, "primary", "hovered"),
        outline-color: fn.mapget($themes, "primary", "hovered"),
      ),
      focused: (
        background-color: fn.mapget($themes, "primary", "focused"),
        outline-color: fn.mapget($themes, "primary", "focused"),
      ),
      disabled: (
        background-color: fn.mapget($themes, "primary", "disabled"),
        outline-color: fn.mapget($themes, "primary", "disabled"),
      ),
    ),
    "secondary": (
      background-color: fn.mapget($themes, "secondary", "base"),
      color: colors.get-color("gray", $shade: 8),
      outline-color: fn.mapget($themes, "secondary", "base"),
      hovered: (
        background-color: fn.mapget($themes, "secondary", "hovered"),
        outline-color: fn.mapget($themes, "secondary", "hovered"),
      ),
      focused: (
        background-color: fn.mapget($themes, "secondary", "focused"),
        outline-color: fn.mapget($themes, "secondary", "focused"),
      ),
      disabled: (
        background-color: fn.mapget($themes, "secondary", "disabled"),
        outline-color: fn.mapget($themes, "secondary", "disabled"),
      ),
    ),
    "danger": (
      background-color: fn.mapget($themes, "danger", "base"),
      color: colors.$white,
      outline-color: fn.mapget($themes, "danger", "base"),
      hovered: (
        background-color: fn.mapget($themes, "danger", "hovered"),
        outline-color: fn.mapget($themes, "danger", "hovered"),
      ),
      focused: (
        background-color: fn.mapget($themes, "danger", "focused"),
        outline-color: fn.mapget($themes, "danger", "focused"),
      ),
      disabled: (
        background-color: fn.mapget($themes, "danger", "disabled"),
        outline-color: fn.mapget($themes, "danger", "disabled"),
      ),
    ),
    "outline": (
      outline-color: fn.mapget($themes, "outline", "base"),
      background-color: colors.get-color("white"),
      color: fn.mapget($themes, "outline", "base"),
      hovered: (
        outline-color: fn.mapget($themes, "outline", "hovered"),
      ),
      focused: (
        outline-color: fn.mapget($themes, "outline", "hovered"),
      ),
      disabled: (
        background-color: fn.mapget($themes, "primary", "disabled"),
        outline-color: fn.mapget($themes, "primary", "disabled"),
      ),
    ),
    "bare": (),
  ),
  "alternate": (
    "primary": (
      background-color: colors.$transparent,
      color: fn.mapget($themes, "primary", "base"),
      outline-color: colors.$transparent,
      hovered: (
        color: fn.mapget($themes, "primary", "hovered"),
      ),
      focused: (
        color: fn.mapget($themes, "primary", "focused"),
      ),
      disabled: (
        color: fn.mapget($themes, "primary", "disabled"),
      ),
    ),
    "secondary": (
      background-color: colors.$transparent,
      color: colors.get-color("gray", $shade: 8),
      outline-color: colors.$transparent,
      hovered: (
        color: colors.get-color("gray", $shade: 9),
      ),
      focused: (
        color: colors.get-color("gray", $shade: 9),
      ),
      disabled: (
        color: fn.mapget($themes, "secondary", "disabled"),
      ),
    ),
    // The outline variant for an alternate button is not applicable.
    "outline": (),
    "danger": (
      background-color: colors.$transparent,
      color: fn.mapget($themes, "danger", "base"),
      outline-color: colors.$transparent,
      hovered: (
        color: fn.mapget($themes, "danger", "hovered"),
      ),
      focused: (
        color: fn.mapget($themes, "danger", "focused"),
      ),
      disabled: (
        color: fn.mapget($themes, "danger", "disabled"),
      ),
    ),
    "bare": (),
  ),
);

@function parse-state-colors($attributes, $state-name, $args...) {
  $state-name: fn.validate-value($state-name, $button-state-names);
  $arguments: meta.keywords($args);
  @if map.has-key($arguments, $state-name) {
    $state: fn.mapget($arguments, $state-name);
    @if map-has-state-key($state) {
      @return throw.error(
        "Detected nested state key(s) in state attribute #{$state-name}.  This will cause an infinite recursion.",
        $source: "button-colors()"
      );
    }
    // If the state defines an override for the outline-color, we need to also override the outline
    // because it will have been defaulted in the original base set of attributes based on the
    // outline color of the base state.
    @if map.has-key($state, outline-color) and not map.has-key($state, outline) {
      $state: map.set($state, outline, $button-outline-width solid fn.mapget($state, outline-color));
    }

    @return map.merge($attributes, $state);
  }
  @return null;
}

@mixin button-colors($args...) {
  $arguments: meta.keywords($args);

  $type: map.get($arguments, "type");
  $variant: map.get($arguments, "variant");

  @if $variant or $type {
    @if not $variant or not $type {
      @include throw.error-mixin(
        "If the 'type' argument is provided, the 'variant' must also be provided, and vice versa.",
        $source: "button-colors()",
        $type: $type,
        $variant: $variant
      );
    } @else {
      $colors: fn.mapget($button-color-properties, $type, $variant);
      @include button-colors($colors...);
    }
  } @else {
    $background-color: fn.get-optional-kwarg(background-color, $default: colors.$transparent, $args...);
    $outline-color: fn.get-optional-kwarg(outline-color, $default: $background-color, $args...);
    $outline: fn.get-optional-kwarg(outline, $default: $button-outline-width solid $outline-color, $args...);

    $attributes: (
      background-color: $background-color,
      outline-color: $outline-color,
      outline: $outline,
      color: fn.get-optional-kwarg(color, $default: null, $args...),
    );

    @each $attr in map.keys($attributes) {
      // Do not set null keys.
      @if fn.mapget($attributes, $attr) {
        #{$attr}: fn.mapget($attributes, $attr);
      }
    }
    // If a 'hovered' argument is provided, include this mixin recursively to define the colors of the button when it
    // is hovered.
    $hovered: parse-state-colors($attributes, "hovered", $args...);
    @if $hovered {
      @include button-hovered {
        // Use the original, non-hovered and non-focused attributes as defaults such that only the hovered attributes
        // that are provided are overridden when the button is hovered.
        $hovered: map.merge($attributes, $hovered);
        @include button-colors($hovered...);
      }
    }
    // If a 'focused' argument is provided, include this mixin recursively to define the colors of the button when it is
    // focused.
    $focused: parse-state-colors($attributes, "focused", $args...);
    @if $focused {
      @include button-focused {
        // Use the original, non-hovered and non-focused attributes as defaults such that only the hovered attributes
        // that are provided are overridden when the button is hovered.
        $focused: map.merge($attributes, $focused);
        @include button-colors($focused...);
      }
    }
    // If a 'disabled' argument is provided, include this mixin recursively to define the colors of the button when it
    // is disabled.
    $disabled: parse-state-colors($attributes, "disabled", $args...);
    @if $disabled {
      @include mixins.disabled {
        // Use the original, non-hovered and non-focused attributes as defaults such that only
        // the hovered attributes that are provided are overridden when the button is hovered.
        $disabled: map.merge($attributes, $disabled);
        @include button-colors($disabled...);
      }
    }
  }
}
