@use "sass:map";
@use "sass:string";

@use "../../functions" as fn;

$icon-contain-names: ("square", "fit");
$icon-size-axes: ("horizontal", "vertical");
$icon-size-names: ("xxs", "xs", "sm", "md", "lg", "xl", "fill");

$default-icon-size: "sm";
$default-icon-size-contain: "fit";
$default-icon-size-axis: "vertical";

$icon-sizes: (
  "xxs": 10px,
  "xs": 12px,
  "sm": 14px,
  "md": 16px,
  "lg": 20px,
  "xl": 24px,
  "fill": 100%,
);

@function get-icon-size($size: $default-icon-size) {
  $size: fn.validate-value($size, $icon-size-names);
  @return fn.mapget($icon-sizes, $size);
}

@mixin with-icon-and-svg {
  @content;
  > svg {
    @content;
  }
}

@mixin icon-contain($contain: $default-icon-size-contain) {
  $contain: fn.validate-value($contain, ("square", "fit"));

  @include with-icon-and-svg {
    aspect-ratio: 1;
  }
}

@mixin icon-sizing($size: $default-icon-size, $axis: $default-icon-size-axis, $contain: null) {
  $size-value: null;
  @if map.has-key($icon-sizes, $size) {
    $size-value: fn.mapget($icon-sizes, $size);
  } @else {
    // Allow regular CSS sizes to be provided.
    $size-value: $size;
  }

  $axis: fn.validate-value($axis, ("horizontal", "vertical"));

  @if $axis == "vertical" {
    width: auto;
    height: fn.mapget($icon-sizes, $size);

    > svg {
      height: 100%;
      width: auto;
    }

  } @else {
    width: fn.mapget($icon-sizes, $size);
    height: auto;

    > svg {
      width: 100%;
      height: auto;
    }
  }

  @if $contain {
    @include icon-contain($contain);
  }
}
