@use "sass:color";
@use "sass:list";

@use "../../mixins" as mixins;

@use "../colors" as colors;
@use "../radius" as radius;
@use "../typography" as typography;

$input-color: colors.get-color("gray", $shade: 8);
$input-font-family: typography.$font-family-inter;
$input-font-size: typography.get-font-size("body", $size: "sm");
$input-font-weight: typography.get-font-weight(
  $weight: "regular",
);
$input-bg-color: colors.get-color("white");

$input-border-color: colors.get-color("gray", $shade: 4);
$input-focused-border-color: colors.get-color("blue", $shade: 8);
$input-border-radius: radius.get-radius("sm");
$input-disabled-bg-color: #efefef;

$input-height: 36px;
$input-padding: 6px 12px;

// The line height of the text input text should fill up the remaining space after the padding is accounted for.
$input-line-height: $input-height - 2 * list.nth($input-padding, 1);

$input-icon-color: colors.get-color("gray", $shade: 6);

$input-border-width: 1px;
$input-border: $input-border-width solid $input-border-color;
$input-placeholder-color: color.change(#606873, $alpha: 0.6);
$input-caret-color: colors.get-color("gray", $shade: 8);

$select-option-padding: 4px 8px;
$select-option-height: 28px;
$select-option-line-height: $select-option-height - 2 * list.nth($select-option-padding, 1);

@mixin input-font-properties {
  color: $input-color;
  font-family: $input-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  height: $input-height;
  line-height: $input-line-height;
}

@mixin input-properties {
  @include input-font-properties;
  @include mixins.outline($input-border-color);

  // We need to explicitly set the background color to white (instead of not specifying a background color) such that
  // auto fill styling applied by Google Chrome (and likely others) does not change the background.
  background-color: $input-bg-color;
  border-radius: $input-border-radius;
  height: $input-height;
  padding: $input-padding;

  > .icon {
    color: $input-icon-color;
  }

  @include mixins.disabled {
    background-color: $input-disabled-bg-color;
  }

  @include mixins.focused {
    outline-color: $input-focused-border-color;
  }

  @include mixins.focused-within {
    outline-color: $input-focused-border-color;
  }
}

@mixin select-option-properties {
  line-height: $select-option-line-height;
  padding: $select-option-padding;
  height: $select-option-height;
  font-weight: $input-font-weight;

  > .icon {
    color: $input-icon-color;
  }

  @include mixins.hovered {
    background-color: colors.get-color("gray", 1);
    color: colors.get-color("gray", 8);
  }
  @include mixins.focused {
    background-color: colors.get-color("gray", 1);
    color: colors.get-color("gray", 8);
  }

  &.selected {
    background-color: colors.get-color("white");
    color: colors.get-color("gray", 8);

    @include mixins.hovered {
      background-color: colors.get-color("gray", 1);
      color: colors.get-color("gray", 8);
    }
    @include mixins.focused {
      background-color: colors.get-color("gray", 1);
      color: colors.get-color("gray", 8);
    }
  }
}
