@use "partials";

$team-score-height: 45px;

.team-score {
  display: flex;
  flex-direction: row;
  gap: partials.get-spacing("md");
  height: $team-score-height;
  align-items: center;

  > .model-image {
    font-size: partials.get-font-size("body", "sm");
  }

  > .team-score__name {
    @include partials.font($type: "body", $weight: "medium", $size: "md");
    color: partials.get-color("gray", $shade: 8);
    flex-grow: 100;

    @include partials.clamp(1);
  }

  > .team-score__score {
    @include partials.font($type: "body", $weight: "medium", $size: "md");
    color: partials.get-color("gray", $shade: 8);
    text-align: right;
  }

  &.team-score--loser {
    > .team-score__name {
      color: partials.get-color("gray", $shade: 6);
    }

    > .team-score__score {
      color: partials.get-color("gray", $shade: 6);
    }
  }
}
