@use "partials";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  > .header__titles {
    display: flex;
    flex-direction: column;
    gap: 2px;
    height: 100%;
    max-width: 800px;

    > .header__title {
      color: partials.get-font-color("heading", $shade: 8);
    }
  }

  > .model-image {
    margin-right: partials.get-spacing("lg");
  }

  > .actions {
    flex-grow: 100;
  }

  &--with-image {
    align-items: flex-start;

    > .header__titles {
      padding-top: partials.get-spacing("xs");
    }
  }
}
