@use "partials";

.tile {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid partials.get-color("gray", 2);
  border-radius: partials.get-radius("sm");
  padding: 4px 6px;

  > .tile__header {
    > .model-image {
      margin-right: partials.get-spacing("md");
      height: 60px;
      width: 60px;
    }

    > .tile__info {
      display: flex;
      flex-direction: column;
      flex-grow: 100;

      > .tile__title {
        @include partials.font($type: "body", $weight: "medium", $size: "sm", $family: "avenir");
      }

      > .tile__descriptions {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-top: partials.get-spacing("xs");

        > .tile__description {
          @include partials.font($type: "body", $weight: "regular", $size: "xs");

          color: partials.get-color("gray", 5);
        }
      }
    }

    > .actions {
      margin-left: partials.get-spacing("md");
    }
  }

  &.tile--with-image {
    > .tile__header {
      > .tile__info {
        padding-top: partials.get-spacing("xs");
      }
    }
  }
}

.game-score {
  display: flex;
  flex-direction: column;
  gap: partials.get-spacing("md");

  > .game-score__team {
    display: flex;
    flex-direction: row;
    gap: partials.get-spacing("md");
    height: 70px;

    > .model-image {
      font-size: partials.get-font-size("body", "sm");
    }

    > .game-score__team__name {
      @include partials.font($type: "body", $weight: "medium", $size: "md");
      color: partials.get-color("gray", $shade: 8);
      flex-grow: 100;
    }

    > .game-score__team__score {
      @include partials.font($type: "body", $weight: "medium", $size: "md");
      color: partials.get-color("gray", $shade: 8);
      text-align: right;
    }

    &.game-score__team-loser {
      > .game-score__team__name {
        color: partials.get-color("gray", $shade: 6);
      }

      > .game-score__team__score {
        color: partials.get-color("gray", $shade: 6);
      }
    }
  }
}
