@use "partials";

.tile {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid partials.get-color("gray", 2);
  border-radius: partials.get-radius("sm");
  padding: 4px 6px;

  > .tile__header {
    > .model-image {
      margin-right: partials.get-spacing("md");
      height: 60px;
      width: 60px;
    }

    > .tile__info {
      display: flex;
      flex-direction: column;
      flex-grow: 100;

      > .tile__title {
        @include partials.font($type: "body", $weight: "medium", $size: "sm", $family: "avenir");
      }

      > .tile__descriptions {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-top: partials.get-spacing("xs");

        > .tile__description {
          @include partials.font($type: "body", $weight: "regular", $size: "xs");

          color: partials.get-color("gray", 5);
        }
      }
    }

    > .actions {
      margin-left: partials.get-spacing("md");
    }
  }

  &.tile--with-image {
    > .tile__header {
      > .tile__info {
        padding-top: partials.get-spacing("xs");
      }
    }
  }

  // > .tile__content {

  // }
}
