@use "partials";

.view {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;

  @layer {
    gap: partials.get-spacing("md");
  }

  > .view__content {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &--content-scrollable {
    height: 100%;

    > .view__content {
      overflow-y: scroll;
    }
  }

  &--bordered {
    border: partials.$layout-border;
    border-radius: partials.get-radius("sm");
    padding: partials.get-spacing("sm") partials.get-spacing("md");
  }
}


.tiles-view {
  > .tile {
    gap: partials.get-spacing("md");
  }
}
