@use "partials";

.view {
  display: flex;
  flex-direction: column;
  position: relative;

  @layer {
    gap: partials.get-spacing("md");
  }

  > .view__header {
    display: flex;
    flex-direction: column;
    gap: partials.get-spacing("md");
  }

  > .view__content {
    flex-grow: 100;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  > .view__close-button {
    position: absolute;
    z-index: 100;
    top: partials.get-spacing("lg");
    right: partials.get-spacing("md");
  }

  &--content-scrollable {
    height: 100%;

    > .view__content {
      overflow-y: scroll;
    }
  }

  &--bordered {
    border: partials.$default-border;
    border-radius: partials.get-radius("sm");
    padding: partials.get-spacing("sm") partials.get-spacing("md");
  }
}

.table-view {
  max-height: 100%;
  height: 100%;
  min-height: 100%;

  > .view__content {
    max-height: 100%;
    overflow-y: scroll;

    > .table {
      > .mantine-ScrollArea-root {
        max-height: 100%;
        height: 100%;
        // Remove overflow behavior on the scroll root so that the content underneath the table th row can scroll.
        overflow: hidden;
      }
    }
  }
}

.tiles {
  display: flex;
  flex-direction: column;
  gap: partials.get-spacing("md");
}
