@use "partials";

$table-sizes: ("sm", "md", "lg");

$table-size-properties: (
  "sm": (
    th: (
      padding: "3px 6px",
      font: (
        type: "body",
        family: "avenir",
        size: "md",
        weight: "semibold",
        line-height: 18px,
      ),
    ),
    td: (
      padding: "3px 6px",
      font: (
        type: "body",
        size: "md",
        weight: "regular",
        line-height: 16px,
      ),
    ),
  ),
  "md": (
    th: (
      padding: "4px 8px",
      font: (
        type: "body",
        family: "avenir",
        size: "md",
        weight: "semibold",
        line-height: 18px,
      ),
    ),
    td: (
      padding: "4px 8px",
      font: (
        type: "body",
        size: "md",
        weight: "regular",
        line-height: 16px,
      ),
    ),
  ),
  "lg": (
    th: (
      padding: "6px 10px",
      font: (
        type: "body",
        family: "avenir",
        size: "lg",
        weight: "semibold",
        line-height: 18px,
      ),
    ),
    td: (
      padding: "6px 10px",
      font: (
        type: "body",
        size: "lg",
        weight: "regular",
        line-height: 16px,
      ),
    ),
  ),
);

@mixin th($size) {
  $properties: partials.mapget($table-size-properties, $size, "th");
  @include partials.font(partials.mapget($properties, "font")...);
  padding: partials.mapget($properties, "padding");
  background-color: partials.get-color("gray", $shade: 1);
}

@mixin td($size) {
  $properties: partials.mapget($table-size-properties, $size, "td");
  @include partials.font(partials.mapget($properties, "font")...);
  padding: partials.mapget($properties, "padding");
}

@mixin table-th($size) {
  table {
    thead {
      tr {
        th {
          @include th($size);
        }
      }
    }
  }
}

@mixin table-td($size) {
  table {
    tbody {
      tr {
        td {
          @include td($size);
        }
      }
    }
  }
}

.table {
  @each $size in $table-sizes {
    &--size-#{$size} {
      @include table-th($size);
      @include table-td($size);
    }
  }
}
