@use "sass:list";
@use "partials";

$table-sizes: ("sm", "md", "lg");

$table-size-properties: (
  "sm": (
    th: (
      padding: 4px 6px,
      font: (
        type: "body",
        family: partials.$font-family-inter,
        size: "md",
        weight: "semibold",
        line-height: 18px,
      ),
    ),
    td: (
      padding: 4px 6px,
      font: (
        type: "body",
        size: "md",
        weight: "regular",
        line-height: 16px,
      ),
    ),
  ),
  "md": (
    th: (
      padding: 6px 8px,
      font: (
        type: "body",
        family: partials.$font-family-inter,
        size: "md",
        weight: "semibold",
        line-height: 18px,
      ),
    ),
    td: (
      padding: 6px 8px,
      font: (
        type: "body",
        size: "md",
        weight: "regular",
        line-height: 16px,
      ),
    ),
  ),
  "lg": (
    th: (
      padding: 8px 10px,
      font: (
        type: "body",
        family: partials.$font-family-inter,
        size: "lg",
        weight: "semibold",
        line-height: 18px,
      ),
    ),
    td: (
      padding: 8px 10px,
      font: (
        type: "body",
        size: "lg",
        weight: "regular",
        line-height: 16px,
      ),
    ),
  ),
);

@mixin th-size($size) {
  $properties: partials.mapget($table-size-properties, $size, "th");
  @include partials.font(partials.mapget($properties, "font")...);
  padding: partials.mapget($properties, "padding");
  background-color: partials.get-color("gray", $shade: 1);
}

@mixin td-size($size) {
  $properties: partials.mapget($table-size-properties, $size, "td");
  @include partials.font(partials.mapget($properties, "font")...);
  padding: partials.mapget($properties, "padding");
}

@mixin tr-size($size) {
  $properties: partials.mapget($table-size-properties, $size, "td");
  $line-height: partials.mapget($properties, font, line-height);
  $vertical-padding: list.nth(partials.mapget($properties, "padding"), 1);
  // Account for two lines of text in the row.
  height: 2 * $line-height + 2 * $vertical-padding;
}

@mixin table-th {
  table {
    thead {
      tr {
        th {
          @content;
        }
      }
    }
  }
}

@mixin table-tr {
  table {
    tbody {
      tr {
        @content;
      }
    }
  }
}

@mixin table-td {
  @include table-tr {
    td {
      @content;
    }
  }
}

.table {
  height: 100%;
  max-height: 100%;
  position: relative;

  @each $size in $table-sizes {
    &--size-#{$size} {
      @include table-tr {
        @include tr-size($size);
      }
      @include table-th {
        @include th-size($size);
        border-bottom: none !important;
      }
      @include table-td {
        @include td-size($size);
      }
    }
  }
}
