@use "partials";

.table-view {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
  height: 100%;
  min-height: 100%;
  position: relative;

  > .table-view__header {
    display: flex;
    flex-direction: column;

    margin-bottom: partials.get-spacing("md");
    gap: partials.get-spacing("md");
  }

  > .table-view__content {
    flex-grow: 100;
    position: relative;
    height: 100%;
    max-height: 100%;

    > .table {
      flex-grow: 100;

      > .mantine-ScrollArea-root {
        max-height: 100%;
        height: 100%;
        // Remove overflow behavior on the scroll root so that the content underneath the table th row can scroll.
        overflow: hidden;
      }
    }
  }
}
