@use "partials";

.app-sidebar {
  width: partials.$app-sidebar-width;
  border-right: 1px solid partials.get-color("gray", 4);
  padding: partials.get-spacing("sm");
  display: flex;
  flex-direction: column;
  gap: partials.get-spacing("sm");

  > .sidebar-item {
    width: 100%;
    aspect-ratio: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 8px;

    &:hover {
      background-color: partials.get-color("gray", 2);
    }

    &.active {
      background-color: partials.get-color("blue", 2);
    }
  }
}
